/* Estilo general para el fondo */
#mainBackground {
    -fx-background-color: #2E2E2E;
}

/* Estilos para la barra de navegación */
.navigation-bar {
    -fx-background-color: #444444;
    -fx-padding: 10;
    -fx-spacing: 20;
}

.navigation-bar Button {
    -fx-background-color: #555555;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-border-color: #888888;
    -fx-border-width: 1px;
}

/* Estilo para el hover de los botones */
.navigation-bar Button#homeBtn:hover,
.navigation-bar Button#solicitarMantenimientoBtn:hover,
.navigation-bar Button#cerrarSesionBtn:hover {
    -fx-background-color: #2196F3;  /* Azul */
    -fx-border-color: #2196F3;      /* Color del borde azul */
    -fx-text-fill: white;           /* Asegúrate de que el texto también se vea */
}

/* Estilo para el TableView */
.table-view {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
    -fx-table-cell-border-color: #444444;
    -fx-table-header-border-color: #555555;
}

.table-view .column-header {
    -fx-background-color: #555555;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Estilo para el formulario */
.form-pane {
    -fx-background-color: #333333;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-border-color: #555555;
    -fx-border-radius: 10;
    -fx-border-width: 2px;
}

.label {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 12px;
}

/* Estilos para TextField */
TextField {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-border-color: #555555;
    -fx-border-radius: 5;
    -fx-pref-width: 200;
    -fx-padding: 5;
}

/* Estilo para ComboBox */
ComboBox {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-border-color: #555555;
    -fx-border-radius: 5;
    -fx-pref-width: 200;
}

ComboBox:hover {
    -fx-border-color: #AAAAAA;
}

/* Estilo para DatePicker */
.date-picker {
    -fx-background-color: #444444;
    -fx-text-fill: white;
    -fx-border-color: #555555;
    -fx-border-radius: 5;
}

/* Estilo para los botones generales */
.button {
    -fx-background-color: #555555;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-border-color: #888888;
    -fx-border-width: 1px;
}

.button:hover {
    -fx-background-color: #666666;
    -fx-border-color: #AAAAAA;
}

/* Estilo para la barra inferior */
HBox {
    -fx-background-color: #444444;
    -fx-padding: 10;
    -fx-spacing: 20;
}
